<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="net.javavideotutorials.mapper.UsersMapper"> 

	<!-- 회원 정보 저장 -->
	<insert id="insert" parameterType="Users">
		insert into users values 
		(#{username}, #{password}, #{enabled}) 
	</insert>
	
	<select id="login" parameterType="HashMap" resultType="Users">
		select *
		from users
		where username = #{username} and password = #{password}
	</select>
	
</mapper>
